#col-picker-shade {
  display: inline-block;
  height: 300px;
  width: 300px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0));

}

#col-picker-shade2 {
  display: inline-block;
  height: 300px;
  width: 300px;

  background-image: linear-gradient(to right, white, hsl(55, 100%, 50%));
}

#col-picker-hue {
  display: inline-block;
  height: 300px;
  width: 50px;
  background-image: linear-gradient(to bottom, hsl(0.0, 100%, 50%) 0%,
      hsl(18.0, 100%, 50%) 5%,
      hsl(36.0, 100%, 50%) 10%,
      hsl(54.0, 100%, 50%) 15%,
      hsl(72.0, 100%, 50%) 20%,
      hsl(90.0, 100%, 50%) 25%,
      hsl(108.0, 100%, 50%) 30%,
      hsl(126.0, 100%, 50%) 35%,
      hsl(144.0, 100%, 50%) 40%,
      hsl(162.0, 100%, 50%) 45%,
      hsl(180.0, 100%, 50%) 50%,
      hsl(198.0, 100%, 50%) 55%,
      hsl(216.0, 100%, 50%) 60%,
      hsl(234.0, 100%, 50%) 65%,
      hsl(252.0, 100%, 50%) 70%,
      hsl(270.0, 100%, 50%) 75%,
      hsl(288.0, 100%, 50%) 80%,
      hsl(306.0, 100%, 50%) 85%,
      hsl(324.0, 100%, 50%) 90%,
      hsl(342.0, 100%, 50%) 95%,
      hsl(360.0, 100%, 50%) 100%);
}

#col-picker-display-underlay {
  display: block;
  height: 100px;
  width: 100px;
  background: repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 50% / 20px 20px;
}

#col-picker-display {
  display: block;
  height: 100px;
  width: 100px;
  background-color: red;
}

#col-picker-shade-marker {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  height: 3px;
  width: 3px;
  top: 50%;
  left: 30%;
  border-width: 1px;
  border-style: solid;
}

#col-picker-hue-marker {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  height: 3px;
  width: 100%;
  top: 0%;
  border-width: 1px;
  border-style: solid;
}

#col-picker-alpha {
  display: inline-block;
  height: 300px;
  width: 50px;

  background: repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 50% / 20px 20px;
}

#col-picker-alpha2 {
  display: block;
  height: 300px;
  width: 50px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1.0),
      rgba(255, 255, 255, 0.0));
}

#col-picker-alpha-marker {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  height: 3px;
  width: 100%;
  top: 0%;
  border-width: 1px;
  border-style: solid;
}

/* ******************************************************************** */

#gradient-builder-underlay {
  width: 100%;
  height: 50px;
  background: repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 50% / 20px 20px;
}

#gradient-builder {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1.0), rgba(0, 0, 0, 1.0));
  position: relative;
}

.gradient-builder-tab {
  height: 50px;
  width: 10px;
  background-color: rgba(255, 255, 255, 1);
  border-width: 1px;
  border-style: solid;
  position: absolute;
}

#gradient-builder-tab-left {
  background-color: rgba(255, 255, 255, 1);
}

#gradient-builder-tab-right {
  right: 0;
  background-color: rgba(0, 0, 0, 1);
}

#gradient-builder-tab-draggable {

  cursor: move;
}

